body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f8f4f4;
    color: #000000;
    padding: 20px;
    text-align: center;
p {
    font-size: 16px;
    font-weight: normal;
    }
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }
  
  .time-block {
    display: flex;
    gap: 10px;
  }
  
  .hour {
    width: 60px;
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  .description {
    flex: 1;
    min-height: 100px;
  }
  
  .save-btn {
    background-color: #4caf50;}
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}